<p>Kia Ora, {{name}}.</p>
<p>You have requested to reset your password</p>
<p>Please follow this link to reset https://www.matic.nz/forgot?resetCode={{resetCode}}</p>
<p>If you didn't request this, please disregard this email</p>
