<p>Kia Ora, {{name}}.</p>
<p>Thank you for registering to be part of the trial of Matic. We would love you and your students to be involved in this trial.</p>
<p>Matic has been specifically designed for students who struggle in learning maths at the primary and intermediate school level, however for this trial we would love all students to be involved as we check how Matic works and analyse its effectiveness.</p>
<p>To start, please verify your email by clicking this <a href="http://www.matic.nz/verify/{{code}}">link</a>. Then login as a teacher using your email address and password at www.matic.nz</p>
<p>Once logged in you will be guided through the quick and easy process of adding students and getting them started.</p>
<p>If you have any questions please feel free to get in touch.</p>
<p>Ngā mihi nui, Ian</p>
