<p>Kia Ora,</p>
<p>Thank you for registering your interest in being part of the next classroom trial of Matic. Matic is an online platform being designed to accelerate the learning of mathematics, particularly for those students who struggle at the primary and intermediate school level. The trial will occur during October and November 2018. More information will be send soon.</p>
<p>If you have any questions please feel free to <a href="mailto:ian@matic.nz">email me</a></p>
<p>Nga mihi, Ian</p>
