<html>

  <head>
    <style>
      body, html {
        margin: 0;
        padding: 0;
        position: absolute;
        font-family: 'Didact Gothic', Helvetica, sans-serif;
        width: 960px;
        height: 600px;
      }
      div.problem {
        position: relative;
        display: inline-block;
        float: left;
        width: 25%;
        height: 50%;
        text-align: center;
        box-sizing: border-box;
        vertical-align: top;
      }
      div.problem:nth-of-type(4n+2) {
        border-right: 1px dashed rgba(70,70,70,0.5);
      }

      div.problem:nth-of-type(2n) {
        border-left: 1px solid rgba(70,70,70,0.5);
      }
      div.problem:nth-of-type(8n+1),
      div.problem:nth-of-type(8n+2),
      div.problem:nth-of-type(8n+3),
      div.problem:nth-of-type(8n+4) {
        border-bottom: 1px solid rgba(70,70,70,0.5);
      }

      div.problem img {
        margin: 15px auto 25px auto;
      }
      div.problem p {
        margin: 3px 8px;
      }
      div.footer {
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 0;

        text-align: left;
      }
      div.footer p {
        font-size: 12px;
        margin: 0px;
      }
      div.footer small {
        font-size: 10px;
      }
      div.footer ul {
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0px;
        right: 10px;
      }
      div.footer ul li {
        font-size: 12px;
      }
    </style>
  </head>

  <body>
    {{#each problems}}
      <div class="problem">
        <img src="https://s3-ap-southeast-2.amazonaws.com/math-adv-matic/assets/matic_logo_full.png" alt="" height="50">
        {{#each problemStrings}}
          <p>{{this}}</p>
        {{/each}}

        <div class="footer">
          <p>{{nzcLevel}}</p>
          <small>{{topic.name}}: {{nzcSubLevel}}</small>
          <br>
          <small>(c) Maths Adventures 2017</small>
        </div>
      </div>
    {{~/each}}
  </body>

</html>
