<html>

  <head>
    <style>
      body, html {
        margin: 0;
        padding: 0;
        position: absolute;
        font-family: 'Didact Gothic', Helvetica, sans-serif;
        width: 600px;
        height: 960px;
        text-align: center;
      }
      div.studentWrapper {
        display: inline-block;
        margin: 10px;
        padding: 5px;
        border-radius: 5px;
        background: #EEF1F7;
      }
    </style>
  </head>

  <body>
    <div id="printArea">
      <h3 style="margin: 20px 0px 5px 10px;">Student Login Details for {{teacherName}}'s Classroom</h3>
      <h3 style="margin: 10px 0px 5px 10px; font-size: 15px;">use underlined name and code @ matic.nz/login to get started</h3>
      {{#each students}}
        <div class="studentWrapper">
          <p style="margin-bottom: 0px; font-size:18px;">
            <span style="text-decoration: underline; margin-right: 5px;">{{this.firstName}}</span>
            <span>{{this.lastName}}</span>
          </p>
          <p class="code mono" style="text-decoration: underline; margin-bottom: 0px; font-size:18px;">{{this.code}}</p>
        </div>
      {{~/each}}
    </div>
  </body>

</html>
